body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* Content wrapper to push footer to the bottom */
  .content-wrapper {
    flex: 1;
  }

  /* Styling for the footer */
  .footer {
    background-color: #6ca2d8;
    color: #fff;
    padding: 10px;
  }